@import "tailwindcss";

@theme {
  --font-family-lato: "Lato", sans-serif;

  --color-primary: rgba(34, 142, 229, 1);
  --color-primary-2: rgba(235, 250, 255, 1);

  --color-secondary: rgba(229, 34, 141, 1);

  --color-black: rgba(0, 0, 0, 1);
  --color-gray: rgba(128, 128, 128, 1);
  --color-white: rgba(255, 255, 255, 1);

  --color-red: rgba(229, 34, 34, 1);
  --color-green: rgba(0, 251, 113, 1);
  --color-yellow: rgba(229, 219, 34, 1);

  --color-background: rgba(3, 10, 27, 1);
}

body {
  background-color: var(--color-background);
  font-family: var(--font-family-lato);
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Lock scrollbar for modal */
.lock-scrollbar {
  overflow: hidden !important;
}

/* For iOS Safari - prevent bounce effect */
.lock-scrollbar {
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
}

/* Additional fix for mobile Safari */
@supports (-webkit-touch-callout: none) {
  .lock-scrollbar {
    position: fixed !important;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
  }
}
